* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
}
.main_1 {
  background-image: linear-gradient(#dbf6efb2, #fbf0fd66, #ffffff);
}
a {
  text-decoration: none;
  color: black;
}

.child_1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  background-color: white;
}
.logo::first-letter {
  background-color: #a53dff;
  color: white;
  border-radius: 50px;
  font-size: 20px;
  width: 50%;
}
.links {
  display: flex;
  /* justify-content: space-between; */
  /* justify-items:; */
  gap: 30px;
}
.div_1 {
  /* background-color: gray; */
}
.links:hover {
  /* background-color:#a53dff ; */
}
.intro p {
  width: 400px;
  font-weight: lighter;
  opacity: 0.5;
  /* text-align: center; */
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}
.profile img {
  width: 300px;
  height: 400px;
  padding-top: 25px;
  border-radius: 10px;
  background-color: #ffffff;
}
.child_2 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  /* background-color: #ffffff; */
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.intro h1 {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
.logo h3 {
  word-spacing: 10px;
}
.intro button {
  background-color: #a53dff;
  text-align: center;
  width: 80px;
  height: 40px;
  color: #ffffff;
  border: none;
}
.intro {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 30px;
  padding-left: 100px;
}
button:hover {
  transform: scale(1.1);
  transition-duration: 0.1s;
}
.links button {
  background-color: #a53dff;
  text-align: center;
  width: 60px;
  height: 30px;
  color: #ffffff;
  border-radius: 3px;
  border: none;
}
/* .links:last-child {
  padding-top: 100px;
} */
.footer {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  /* margin-top: 30px; */
  column-gap: 5px;
  /* flex-wrap: wrap; */
  padding-left: 200px;
}
.footer_1 {
  background-color: #edd8ff80;
  text-align: center;
  width: 150px;
  height: 100px;
  padding-top: 15px;
}
.footer_1 p {
  font-weight: lighter;
  opacity: 0.5;
}
.profile {
  width: 30%;
}
.main_2 {
  display: flex;
  width: 100%;
  /* flex-wrap: wrap; */
  margin-top: 30px;
}
.profile_2 img {
  width: 300px;
  height: 400px;
  padding-top: 25px;
  border-radius: 10px;
  background-color: #f0f1f3;
  /* position: relative; */
}
.buttons {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.intro_2 {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* justify-content: space-evenly; */
  gap: 20px;
  margin-top: 30px;
}
.profile_2 {
  width: 30%;
}
.intro_2 h1 {
  width: 60%;
  font-family: Arial, Helvetica, sans-serif;
}
.intro_2 p {
  width: 60%;

  /* width: 400px; */
  font-weight: lighter;
  opacity: 0.5;
  /* text-align: center; */
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}
.profile_2 {
  padding-left: 120px;
  margin-top: 40px;
}
.main_2 {
  background-color: #ffffff;
  padding-left: 50px;
}
.buttons {
  display: flex;
  gap: 15px;
  padding-right: 260px;
}
.buttons button {
  background-color: #a53dff;
  color: white;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}
.buttons :nth-child(2) {
  background-color: white;
  color: #a53dff;
  width: 100px;
  border: solid;
}
.links_2 a {
  display: flex;
  /* flex-direction: column; */
  width: 100px;
  justify-content: end;
  align-items: end;
  height: 60px;
  bottom: 0;
  /* position: absolute; */
  position: absolute;
  padding-left: 350px;
  /* background-color: ; */
  /* background-color: gray; */
  gap: 10px;
  border-radius: 3px;
  /* place-items: center; */
  top: 390px;
  left: 10px;
}
.links_2 img {
  width: 50px;
  height: 50px;
  padding-bottom: px;
  /* position: relative; */
  background-color: white;
  border-radius: 5px;
}
.image_area {
  position: relative;
}
.links_2 {
  width: 180px;
  background-color: white;
}
.main_3 {
  width: 100%;
  background-color: #f0f1f3;
  /* height: 600px; */
  display: flex;
  /* flex-direction: column; */
  column-gap: normal;
}
.para p {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  opacity: 0.5;
}
.para {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  /* margin-top: 50px; */
  /* padding-top: 50px; */
  gap: 20px;
  /* padding-right: 70px; */
}
.para h2 {
  padding-right: 225px;
  font-family: Arial, Helvetica, sans-serif;
}
.miniparent {
  /* display: flex; */
  /* gap: 5px; */
  /* grid-row-start: span; */
  width: 65%;
  /* height: 270px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* column-gap: px; */
  row-gap: 10px;
  /* margin-top: 30px; */
  padding-top: 30px;
  /* border: 1px solid black; */
  padding-right: 100px;
  /* justify-content: center; */
  /* align-items: center; */
}
.mini_container {
  width: 170px;
  /* border: 1px solid black; */

  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
  padding-top: 10px;
  /* transform: scale(1s); */
}
.mini_container img {
  width: 50px;
  height: 50px;
}
.miniparent:first-child {
  /* padding-bottom: 30px; */
}
.mini_container h2 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 8px;
}
.mini_container p {
  font-weight: lighter;
  opacity: 0.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-bottom: 20px;
  padding-right: 20px;
}
.mini_container:hover {
  box-shadow: 5px 5px gray;
  transform: scale();
  transition-duration: 0.5s;
  /* transform-style: preserve-3d; */
}
.main_4 {
  width: 100%;
}
.para_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
}
.para_2 p {
  width: 500px;
  text-align: center;
  opacity: 0.5;
}
.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 50px 60px;
  /* align-content: center; */
  column-gap: 20px;
  border-radius: 10px;
}
.card_1 {
  /* border: 1px solid black; */
  width: 100%;
  height: 330px;
  display: flex;
  flex-direction: column;
  column-gap: 5px;
  /* border-radius: 10px; */
  gap: 20px;
  background-color: lightgray;
}
.card_1 img {
  width: 100%;
  height: 140px;
  /* border-radius: 10px; */
}
.card_1 button {
  width: fit-content;
  padding-left: 4px;
  margin-left: 10px;
  /* margin: auto; */

  text-align: center;
  color: #a53dff;
  border-color: #a53dff;
  width: 100px;
  height: 30px;
  /* padding-bottom: 10px; */
  border-radius: 5px;
}
.card_1 h3 {
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  /* opacity: 0.5; */
  font-size: small;
}
.card_1 p {
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.5;
  font-size: small;
}
.card_1 span {
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.5;
  font-size: small;
}
.footer_2 {
  /* margin: auto; */
  /* color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-left: 3; */
  margin-left: 3px;
  width: 100%;
}
.footer_2 a {
  color: white;
  background-color: #a53dff;
  width: 100px;
  height: 35px;
  text-align: center;
  padding-top: 8px;
  margin-bottom: 5px;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}
.idea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  border: 1px solid black;
  gap: 25px;
  background-color: #132238;
  color: white;
}
.idea p {
  font-family: Arial, Helvetica, sans-serif;
  color: #a5acb5;
  width: 500px;
  text-align: center;
}
.idea h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  word-spacing: 5px;
}
.idea button {
  color: #a53dff;
  border-color: #a53dff;
  width: 150px;
  height: 50px;
}
.blog_area {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.blog_card {
  width: 200px;
  height: 210px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* border-radius: 10px; */
  background-color: rgb(237, 233, 233);
}
.blog_card img {
  width: 200px;
}
.card_area {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  column-gap: 20px;
  justify-content: center;
  /* align-items: center; */
}
.blog_area p {
  opacity: 0.8;
  color: gray;
  text-align: center;
}
.blog_card span {
  opacity: 0.5;
  font-size: small;
}
.blog_card p {
  opacity: 1;
  color: black;
  text-align: start;
  padding-left: 10px;
}
